.popup__window {
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  min-height: 395px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 7vw;
  padding-right: 7vw;
  display: flex;
  align-items: center;
}