.popup__close-button {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
  border: none;
  background: none;
  height: 32px;
  width: 32px;
}
/* чтобы стилизовать: лучше не добавлять лишние запросы*/
/* рисуем две палочки, одну поворачиваем в одну сторону */
.popup__close-button:before {
  position: absolute;
  /* пустой контент надо указать, чтобы отобразилось браузером */
  content: '';
  height: 30px;
  border: 1px solid black;
  top: 0;
  transform: rotate(45deg);
}
/* другую палочку - в другую сторону */
.popup__close-button:after {
  position: absolute;
  content: '';
  height: 30px;
  border: 1px solid black;
  top: 0; 
  transform: rotate(-45deg);
}